.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 25px;
}

.firstSemi {
  display: flex;
  flex-direction: column;
  width: 10rem
}

.firstSemi label {
  display: flex;
  justify-content: space-between;
}

.secondSemi {
  display: flex;
  flex-direction: column;
  width: 10rem
}

.secondSemi label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.finalGame {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 20rem;
}

.finalGame div label{
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.champios-container {
  text-align: center;
}
